html{
    scroll-behavior: smooth;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

.head-div{
    background-color: #2c3e50;
}
html{
font-size: 62.5%;    
}
.mydiv{
    background-color: #4458dc;
    width: 100%;
    height: auto;
}
.bg-black{
    background-color: #222f3e;
}
.name-div{
    padding: 1rem 1.5rem;
}
.myname{
   font-family: 'Trirong', serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: 0.2rem;
}
.position{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.8rem 1.5rem!important;
    line-height: 5rem;
    letter-spacing: 0.2rem;
}


.home-bg{
    background-color: #1dd1a1;
}
.resume-bg{
    background-color: #feca57;
}
.port-bg{
    background-color: #48dbfb;
}
.link{
   background-color:#cd84f1; 
}
.contact-bg{
    background-color: #ff6b6b;
}
.skills h2{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1rem;
}
.skills p{
     text-align: center;
    font-size: 1.8rem;
    margin: 2.5rem 4rem;
    
    font-weight: 500;
    line-height: 0.5rem;
}
.skill-main{
    font-family: 'Amaranth', sans-serif;

}
.resume-position{
    font-size: 1.5rem;
    font-weight: 400;
}
.portfolio-gallery h2{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1rem;
}
.portfolio-gallery p{
    text-align: center;
    font-size: 1.8rem;
    margin: 2.5rem 4rem;
    font-weight: 500;
    line-height: 0.5rem;  
}
.port-main{
    font-family: 'Amaranth', sans-serif;
}

.projects-links h2{
    font-family: 'Amaranth', sans-serif;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1rem;
}
.project-order{
    list-style-type: none;
    align-items: center;

}
.project-order li a{
   text-decoration: none;
    font-size: 2rem;
    align-items: center;

}
.projects-links p{
    text-align: center;
    font-size: 1.8rem;
    margin: 2.5rem 4rem;
    font-weight: 500;
    line-height: 0.5rem;
}
.myport-images .port-images img{
    width: 350px;
    height: 200px;
}
.contact-me h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1rem;  
}
.download-btn {
    font-size: 1.5rem;
    font-weight: bold;
}
.download-btn:hover{
    background-color: lightgray;
    color: #4458dc;
}
.font-div{
    width: 30%;
    padding: 8.8rem 0rem!important;
    font-size: 1.8rem;
}
.work-main{
    font-family: 'Amaranth', sans-serif;
}

.card-section {
    color: #fff;
    background-image:linear-gradient(90deg,#396afc,#2948ff);
    min-height: 30vh;
    display: block;
    justify-content: space-around;
    align-items: center;   
}
.card-section .contact-row .my-icon{
    font-size: 1.8rem;
    text-align: center;
}
.card-section .contact-row {
    font-size: 2rem;
    margin-top: 3rem;
}

img{
    width: 100%;
    height: 100%;
}

@media only screen (min-width:1198px){
    .font-div{
       padding: 40.5px 0px!important;
        }
}